config DEBUG_PAGE_LOCK
	bool "Debug page locking"
	depends on DEBUG_KERNEL
	select PAGE_EXTENSION
	select DEBUG_FS
	help
	  This keeps track of what call chain is the owner of a lock page.
	  If unsure, say N.
